<article class="menu-box">
  <ul class="menuli">
    <li class="menu1"><a href="https://map.baidu.com/" target="_blank">景区导航</a></li>
    <li class="menu2"><a href="/service/details/38.html"><i class="iconfont">&#xe65e;</i>票务服务</a></li>
    <li class="menu3"><a href="#"><i class="iconfont">&#xe603;</i>商城购物</a></li>
    <li class="menu4"><a href="#" target="_blank">在线咨询</a>
    </li>
    <li class="menu5"><a class="weix" href="/assets/img/erweima.png">官方微信</a></li>
  </ul>
</article>

<footer class="footer-box">
  <span class="top">top</span>
  <section class="footers inner clearfix">
    <div class="footerle">
      <span>咨询电话</span>
      <b>{{header.telephone}}</b>
      <span>地址：{{header.adress}}</span>
    </div>
    <div class="footer-tt clearfix">
      <a href="/service/details/38.html" class="btn-tt btn-tt2"><span>票务服务</span></a>
    </div>
  </section>
  <section class="copyright">
    <div class="copyrightwr inner clearfix">
      <p>Copyright © 2021-2022 {{header.footTit or header.title}}, All Rights Reserved </p>
      <a class="design" target="_blank">技术支持：宇瑞工作室</a>
    </div>
  </section>
</footer>
