{% extends "../default.html" %}
{% block content %}
<section class="pbanner">
  <figure>
    <img src="/assets/img/22.jpg" alt="游客服务" />
  </figure>
</section>
<section class="service-menu inner">
  <ol class="levallist levallist1 article-block clearfix">
    <li class="navbtn4"><a href="/service/details/38.html"><b class="iconfont">&#xe65e;</b><span>票务服务</span></a></li>
    <li class="navbtn1"><a href="/service/details/39.html"><b class="iconfont">&#xe6f9;</b><span>旅行社服务</span></a></li>
    <li class="navbtn2"><a href="/service/details/40.html"><b class="iconfont">&#xe60e;</b><span>食宿推荐</span></a></li>
    <li class="navbtn3"><a href="/service/details/41.html"><b class="iconfont">&#xe650;</b><span>周边旅游</span></a></li>
  </ol>
</section>
<section class="service-info clearfix">



  <div class="servicein">
    <a href="/service/details/42.html">
      <figure>
        <img src="/assets/img/62.jpg" alt="应急求助" /><span>应急求助</span>
      </figure>
      <div class="service-fix">
        <div class="service-text">
          <b class="iconfont">&#xe60a;</b>
          <strong>应急求助</strong>
          <p>求助电话：{{header.telephone}}</p>
          <span>更多</span>
        </div>
      </div>
    </a>
  </div>


  <div class="servicein">
    <a href="/service/details/44.html">
      <figure>
        <img src="/assets/img/63.jpg" alt="游客须知" /><span>游客须知</span>
      </figure>
      <div class="service-fix">
        <div class="service-text">
          <b class="iconfont">&#xe6c1;</b>
          <strong>游客须知</strong>
          <p>为方便游客往来智慧景区与歧山草原景区，公司决定自2018年8月15日起开通智慧北门至歧山草原往返旅游班车，具体事宜如下..</p>
          <span>更多</span>
        </div>
      </div>
    </a>
  </div>

</section>
<section class="tourism-box" style="background-image: url(/assets/img/64.jpg);">
  <div class="tourism inner">
    <div class="tourusmtt">
      <img src="/assets/images/title15.png" alt="" />
      <small>General knowledge of Tourism</small>
    </div>
    <div class="tourism-text clearfix">
      <a href="/service/details/44.html">
        <figure>
          <img src="/assets/Uploadfiles/Picture/2019-1-10/20191101431297199.jpg" alt="智慧景区游客入园须知" />
        </figure>
        <div class="tourismed">
          <strong>智慧景区游客入园须知</strong>
          <div class="toursmwr">
            <p> 一、智慧景区门票实行二次入园，凡有需要二次入园的游客须在第一次检票时录入指纹才可二次入园； </p><br>
            <p> </p><br>
            <p>二、凡购买巴士车票的游客从游客集散中心巴士站或智慧游客中心巴士站检票乘车入园，没有购买巴士车票的游客持景区门票从景区北门或南门检票进入景区；</p>
          </div>
          <span>更多</span>
        </div>
      </a>
    </div>
  </div>
</section>
{% endblock %}
